body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background: #fff;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.app h1 {
  margin-bottom: 15px;                
}

.input-box {
  display: flex;
  gap: 8px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input-box button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #667eea;
  color: white;
  cursor: pointer;
}

.input-box button:hover {
  background: #5563c1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  max-height: 200px;
  overflow-y: auto;
}

li {
  background: #f4f4f4;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
  background: #e0e0e0;
}

li span {
  cursor: pointer;
}

li button {
  background: red;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.clear-btn {
  background: #ff4d4d;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

.clear-btn:hover {
  background: #e04343;
}
           




*{
    background:black
}