body{
font-family:Arial;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:#1e293b;
padding:30px;
border-radius:10px;
text-align:center;
}

input{
padding:10px;
width:200px;
}

button{
padding:10px;
background:#3b82f6;
border:none;
color:white;
cursor:pointer;
}

#weather{
margin-top:20px;
font-size:20px;
}
