body {
  margin: 0;
  font-family: Arial;
}

.desktop {
  height: 100vh;
  background: url("https://picsum.photos/1200/800");
  background-size: cover;
  position: relative;
}

.icon {
  color: rgb(0, 0, 0);
  margin: 20px;
  cursor: pointer;
}

.taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 10px;
  text-align: center;
}

.taskbar button {
  font-size: 18px;
}

.start-menu {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px;
  display: none;
  border-radius: 10px;
}

.window {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 300px;
  background: white;
  border-radius: 8px;
  display: none;
}

.window-header {
  background: #0078d7;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.window-body {
  padding: 20px;
}
