body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

canvas {
  background: black;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  border: none;
  background: #0072ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
