body{
font-family:Arial;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.quiz-container{
background:#1e293b;
padding:30px;
border-radius:10px;
width:400px;
text-align:center;
}

button{
padding:10px;
margin:10px;
background:#22c55e;
border:none;
color:white;
cursor:pointer;
}

.answer{
background:#334155;
padding:10px;
margin:8px;
cursor:pointer;
border-radius:5px;
}
