body{
    font-family: Arial;
    background:#1e1e2f;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
                  
.container{
    background:#2c2c44;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

#timer{
    font-size:50px;
    margin:20px;
}
               
button{
    padding:10px 15px;
    margin:5px;
    border:none;
    background:#ff5757;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

input{
    padding:8px;
    margin-top:10px;
}

li{
    margin:10px;
    list-style:none;
    background:#444;
    padding:8px;
}

                     