body{
font-family:Arial;
background:black;
color:white;
margin:0;
}

header{
background:#111;
padding:15px;
color:red;
font-size:24px;
}

h2{
margin-left:20px;
}                    

.movies{
display:flex;
overflow-x:auto;
padding:20px;
}

.movie{
margin-right:15px;
text-align:center;
transition:0.3s;
}

.movie img{
width:200px;
border-radius:5px;
}

.movie:hover{
transform:scale(1.1);
}
